.cartproduct:hover .cartdelfav {
    display: flex !important;
    visibility: visible !important;
}
.cartproduct:hover .cartquantity {
    visibility: visible !important;
}
.cartdelfav {
    display:none !important;
}
.cartquantity {
    visibility: hidden !important;
}